

<div class="login">
    <section class="hero">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            LiveWire
        </h1>
        <h2 class="subtitle">
            Information Hub
        </h2>
        </div>
    </div>
    </section>
    <%= render "devise/shared/login"%>
    
</div>


<%= javascript_pack_tag 'sphere' %>