<div class="columns is-centered three-container">
    <div class="column is-half">
        <section class="hero signup">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Sign Up
                    </h1>
                    <hr>
                    <h2 class="subtitle">
                        <%= render "devise/shared/signup_form" %>
                    </h2>
                </div>
            </div>
        </section>
    </div>
</div>

<script src='https://jeromeetienne.github.io/threex.terrain/examples/vendor/three.js/build/three-min.js'></script>
<script src='https://jeromeetienne.github.io/threex.terrain/examples/vendor/three.js/examples/js/SimplexNoise.js'></script>
<script src='https://jeromeetienne.github.io/threex.terrain/threex.terrain.js'></script>


<%= javascript_pack_tag 'field' %>

