<% if @results == [] %>
  <main class="ui raised very padded text container segment">
    <header class="ui basic segment">
      <h3 class="title is-2">Search Results</h3>
      <p>No Results Found</p>
    </header>
  </main>
<% else %>
  <main class="ui teal raised very padded text container segment">
    <header class="ui basic segment">
      <h3 class="title is-2">Search Results</h3>
    </header>
    <br>
    <% @results.each do |user| %>
      <% if user.name != current_user.name %>
        <div class="ui vertical clearing segment">
          <div class="ui basic segment">
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="title title-1">
                    <%= link_to user.name, user_path(user) %>
                    -
                    <span class="subtitle is-4">
                        <%= user.created_at %>
                    </span>
                    <% if current_user.not_friends.include?(user) %>
                    </div>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <%= form_tag ({controller: 'friends', action: 'create', method: 'post', id: user.id}) do %>
                          <%= button_tag type: 'submit', class: "button is-large is-info is-outlined" do %>
                            <i class="icon is-large fas fa-user-plus"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </nav>
                  </div>
                </article>
              </div>
              <br>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </main>
<% end %>
<hr>
<div class="button is-primary is-large is-outlined">
  <a href="/friends">Back</a>
</div>