<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Edit Post
      </h1>
      <h3 class="subtitle">
       Content
      </h3>
    </div>
  </div>
</section>
<br>
<section class="post-shadow">
  <div class="task-container columns is-multiline">
      <div class="card column is-half is-offset-one-quarter">
        <%= render 'edit_form'%>
      </div>
  </div>
</section>

