<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        User Posts
      </h1>
      <h2 class="subtitle">
        There are currently <%= @posts.count == 0 ? "no" : @posts.count %> posts
      </h2>
    </div>
  </div>
</section>
<br>
<div class="container is-fluid">
      <div class="columns is-centered is-vcentered is-mobile">
        <div class="column is-narrow">
        <% @posts.each do |post| %>
          <%= render 'index_fields', post: post %>
        <% end %>
        </div>
      </div>
  <%= pagy_bulma_nav(@pagy).html_safe %>
</div>
<br>

<%= render "layouts/footer" %>

