<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        POST YOUR IDEAS
      </h1>
    </div>
  </div>
</section>
<br>
  <section class="post-shadow">
  <div class="columns is-half">
      <div class="column is-half is-offset-one-quarter">
        <%= render 'new_form' %>
      </div>
  </div>
  </section>
<br>
<%= render "layouts/footer" %>