<table class='table'> 
	<tbody> 
		<tr> 
			<td class="title is-5">Confirmed Cases</td> 
			<td class="is-size-6">
                <strong>
                    <%= @confirmed_case %>
                </strong>
            </td> 
		</tr> 
		<tr> 
			<td class="title is-5">Confirmed Death</td> 
			<td class="is-size-6">
                <strong>
                    <%= @death %>
                </strong>
            </td>  
		</tr> 
	</tbody> 
</table> 