<table class='table'> 
	<tbody> 
		<tr> 
			<td class="title is-5">New Cases</td> 
			<td class="is-size-6">
                <strong>
                    <%= @new_case %>
                </strong>
            </td> 
		</tr> 
		<tr> 
			<td class="title is-5">New Death</td> 
			<td class="is-size-6">
                <strong>
                    <%= @new_death %>
                </strong>
            </td>  
		</tr>
        <tr> 
			<td class="title is-5">Fatality Rate</td> 
			<td class="is-size-6">
                <strong>
                    <%= @fatality %>
                </strong>
            </td>  
		</tr> 
        <tr> 
			<td class="title is-5">Date Update</td> 
			<td class="is-size-6">
                <strong>
                    <%= @last_update %>
                </strong>
            </td>  
		</tr> 
	</tbody> 
</table> 