<h1>Appointments#show</h1>
<p>Find me in app/views/appointments/show.html.erb</p>


<p id="notice"><%= notice %></p>

<%= render 'appt_fields' %>

<%= link_to 'Edit', edit_user_appointment_path(@appointment) %> |
<%= link_to 'Back', user_appointments_path %>

